/frontend/node_modules
/frontend/dist
/frontend/.vscode
/backend/phpMyAdmin4.8.5
/backend/uploads
.DS_Store
.env
.htaccess
nginx.htaccess
config.php
install.lock
backend.Dockerfile
frontend.Dockerfile
nginx.conf
docker-compose.yml
